<mat-toolbar color="primary">
  <button mat-icon-button (click)="sideNavDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="cursor: pointer" routerLink="/admin/dashboard">eQuiz</span>
<!--  <span><a class="logo" routerLink="/admin/dashboard">eQuiz</a></span>-->
  <span style="flex: auto"></span>
  <button mat-button>Home</button>
  <button mat-button>About</button>
  <button mat-button *ngIf="authService.isAuthenticated">
    {{authService.username}}
  </button>
  <button mat-raised-button style="background-color: aliceblue" routerLink="/login" (click)="logout()">
    LogOut
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #sideNavDrawer opened="true" mode="side" position="start">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/admin/dashboard">
          <mat-icon >dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/enseignant">
          <mat-icon>work</mat-icon>
          Enseignants
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/etudiant">
          <mat-icon>person</mat-icon>
          Etudiants
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
